.cs142-viewswitch{
    border: dotted;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkmagenta;
    color: white;
    width: 100%;
    font-size: large;
}